name: build

on: [push] # runs on every push

jobs:
  build:
    runs-on: windows-latest

    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1 # checkout latest commit
    - name: Use Node.js ${{ matrix.node-version }} # set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies # runs the npm ci command to install all dependencies
      run: |
        npm ci
      env:
        CI: "true"
    - name: Build
      run: |
        npm run build
      env:
        CI: "true"
    - name: 'Upload artifact'
      uses: actions/upload-artifact@v1.0.0
      with:
        name: 'Node-Hangman'
        path: build/
